.title {
  color: #ffffff;
  padding: 0.25rem 0.5rem;
  display: inline-block;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  background: #000000;

  &.pad-3dt {
    background: rgb(190, 22, 34);
  }
}

.image-wrapper {
  position: relative;
  padding-bottom: 62%;
  margin-bottom: 1rem;
  width: 125%;
  margin-left: -12.5%;
  @media (min-width: 1200px) {
    width: 115%;
    margin-left: -7.5%;
  }
}