.content {
  max-width: 64rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 5.5rem;

  @media (min-width: 768px) {
    margin-top: 0;
  }

  p {
    margin-bottom: 1rem;
  }

  h1, h2 {
    font-weight: 600;
    margin-bottom: 0.7rem;
  }
  h1 {
    &.flex {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);

  &.slug-description {
    justify-content: center;

    @media (min-width: 768px) {
      justify-content: inherit;
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  p {
    position: relative;
    margin: 0;
    padding: 1rem;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
  }
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;

  &::before {
    background: var(--secondary-glow);
    border-radius: 50%;
    width: 480px;
    height: 360px;
    margin-left: -400px;
  }

  &::after {
    background: var(--primary-glow);
    width: 240px;
    height: 180px;
    z-index: -1;
  }

  &::before,
  &::after {
    content: '';
    left: 50%;
    position: absolute;
    filter: blur(45px);
    transform: translateZ(0);
  }
}

.logo {
  position: relative;
}

.m-b-1 {
  margin-bottom: 1rem;
}

.image-wrapper {
  position: relative;
  padding-bottom: 67%;
  margin-bottom: 1rem;
  width: 120%;
  margin-left: -10%;
  @media (min-width: 768px) {
    width: 115%;
    margin-left: -7.5%;
  }
  img {
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
  }
}

/* Mobile and Tablet */
@media (max-width: 1023px) {
  .content {
    h1, h2 {
      margin-bottom: 0.5rem;
    }
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;

    a {
      padding: 1rem;
    }

    p,
    div {
      display: flex;
      justify-content: center;
      position: fixed;
      width: 100%;
    }

    p {
      align-items: center;
      inset: 0 0 auto;
      padding: 2rem 1rem 1.4rem;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
      background: linear-gradient(to bottom,
          rgba(var(--background-start-rgb), 1),
          rgba(var(--callout-rgb), 0.5));
      background-clip: padding-box;
      backdrop-filter: blur(24px);
    }

    div {
      align-items: flex-end;
      pointer-events: none;
      inset: auto 0 0;
      padding: 1rem;
      height: 200px;
      background: linear-gradient(to bottom,
          transparent 0%,
          rgb(var(--background-end-rgb)) 50%);
      z-index: 1;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .adhocLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}