.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, auto));
    width: var(--max-width);
    max-width: 100%;

    .card {
        padding: 1rem 1.2rem;
        border-radius: var(--border-radius);
        background: rgba(var(--card-rgb), 0);
        border: 1px solid rgba(var(--card-border-rgb), 0);
        transition: background 200ms, border 200ms;

        h2 {
            font-weight: 600;
            margin-bottom: 0.7rem;
            color: #ffffff;
            padding: 0.25rem 0.5rem;
            display: inline-block;
            border-bottom-left-radius: 15px;
            border-top-right-radius: 15px;
            background: #000000;
            &.pad-3dt {
                background: rgb(190, 22, 34);
            }
        }

        span {
            display: inline-block;
            transition: transform 200ms;
        }

        ul {
            list-style-type: none;
            padding-inline-start: 0;
        }

        /* Enable hover only on non-touch devices */
        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background: rgba(var(--card-rgb), 0.1);
                border: 1px solid rgba(var(--card-border-rgb), 0.15);
            }

            h2 {
                &:hover {
                    span.right {
                        transform: translateX(4px);
                    }
                }
            }

            span.up {
                &:hover {
                    transform: translateY(-4px);
                }
            }
        }

        @media (prefers-reduced-motion) {
            &:hover span {
                transform: none;
            }
        }
    }

    /* Mobile and Tablet */
    @media (max-width: 1023px) {
        grid-template-columns: 1fr;
        margin-bottom: 60px;
        max-width: 320px;
        width: 100%;

        .card {
            padding: 1rem 2.5rem;

            h2 {
                margin-bottom: 0.5rem;
            }
        }
    }
}